<?xml version="1.0" encoding="UTF-8" ?>
<!--约束文件 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miau.javassmwms.dao.AccessDao">
<!-- 新增入库-->
    <insert id="saveIn">
        insert into t_access (wid,quantity,gid,direction)
        values (#{wid},#{quantity},#{gid},"IN")
    </insert>
<!--    新增出库-->
    <insert id="saveOut">
        insert into t_access (wid,quantity,gid,direction)
        values (#{wid},#{quantity},#{gid},"OUT")
    </insert>
    <!--    查询入库总条数-->
    <select id="selectInCount" resultType="long">
        select count(*) from t_access where wid=#{wid}
    </select>
    <!--    查询出库总条数-->
    <select id="selectOutCount" resultType="long">
        select count(*) from t_access where wid=#{wid}
    </select>
    <resultMap id="accessData" type="com.miau.javassmwms.dto.AccessDto">
        <result property="goodsName" column="goodsName"></result>
        <result property="whName" column="whName"></result>
        <association property="access" javaType="com.miau.javassmwms.entity.Access">
            <id property="id" column="id" ></id>
            <id property="wid" column="wid"></id>
            <id property="gid" column="gid"></id>
            <result property="quantity" column="quantity"></result>
            <result property="direction" column="direction"></result>
        </association>
    </resultMap>
<!--    实现入库分页-->
    <select id="selectPageIn" resultMap="accessData">
        select ta.*,tw.name whName,tg.name goodsName from t_access ta
        left join t_warehouse tw on ta.wid=tw.id
        left join t_goods tg on ta.gid=tg.id
        where ta.direction='IN' order by ta.id desc limit #{start},#{size}
    </select>
<!--    实现出库分页-->
    <select id="selectPageOut" resultMap="accessData">
        select ta.*,tw.name whName,tg.name goodsName from t_access ta
        left join t_warehouse tw on ta.wid=tw.id
        left join t_goods tg on ta.gid=tg.id
        where ta.direction='OUT' order by ta.id desc limit #{start},#{size}
    </select>
</mapper>