<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miau.javassmwms.dao.GoodsDao">
    <select id="selectPage" resultType="com.miau.javassmwms.entity.Goods">
        select * from t_goods
        <where>
            <if test="name!=null">
                name like #{name}
            </if>
        </where>
        order by id desc limit #{start},#{size}
    </select>

    <select id="selectCount" resultType="long">
        select count(*) from t_goods
        <where>
            <if test="name!=null">
                name like #{name}
            </if>
        </where>
    </select>

    <select id="selectOne" resultType="com.miau.javassmwms.entity.Goods">
        select * from t_goods where name=#{name}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">

        insert into t_goods(name,address,type,ctime) values(#{name},#{address},#{type},now())
    </insert>

    <delete id="delete">
        delete  from t_goods where id=#{id}
    </delete>

    <update id="update">
        update t_goods set name=#{name},type=#{type},address=#{address} where id=#{id}
    </update>


<!--    <resultMap id="rm1" type="com.miau.javassmwms.entity.Goods">-->
<!--        <id property="id" column="id"></id>-->
<!--        <result property="name" column="name"></result>-->
<!--        <result property="type" column="type"></result>-->

<!--        <collection property="GoodsSupport" ofType="com.example.studentcourse.entity.Course">-->
<!--            <id property="id" column="cid"></id>-->
<!--            <result property="name" column="cname"></result>-->
<!--            <result property="weeks" column="weeks"></result>-->
<!--  -->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    <select id="all" resultMap="rm1">-->
<!--        select s.*,sc.ctime,c.id cid,c.name cname,c.weeks,c.teacher from t_student s-->
<!--                    left join t_student_course sc on s.id=sc.sid-->
<!--                     inner join t_course c on sc.cid=c.id;-->
<!--    </select>-->

</mapper>