<?xml version="1.0" encoding="UTF-8" ?>
<!--约束文件 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 写上实现的接口全限定名-->
<mapper namespace="com.miau.javassmwms.dao.UmDao">

    <!--    根据名字查用户-->
    <insert id="save1">
        insert into t_hierarchical(sid,bid) values (#{sid},#{bid})
    </insert>


    <select id="all3" resultType="com.miau.javassmwms.entity.User">
        select id,name from t_user order by id desc
    </select>

    <select id="all4" resultType="com.miau.javassmwms.entity.Merchant">
        select uid,role from t_merchant order by uid desc
    </select>

</mapper>